# Owners for all files in the repository
* @ccvm-squad

# Sub-Owner for ccvm
ccvm/* @KatieO4t1qbit

# Sub-Owner for problem_classes
problem_classes/* @Estella-Wang-1qbit

# Sub-Owner for ccvmplotlib
ccvmplotlib/* @ChanWooY-1QBit

# Sub-Owner for docs
docs/* @saneer1996
